<main role="main" class="main-content">
    <div class="container-fluid">
        <div class="row justify-content-center">

            <div class="col-12 mb-4">

                <!--Driver Details-->
                <div class="row">
                    <div class="col-md-12">
                        <div class="card shadow mb-4">
                            <div class="card-header">
                                <strong class="card-title">User Details</strong>
                            </div>
                            <div class="card-body">
                                <form>
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label for="UserFirstName">First Name</label>
                                            <input type="text" id="name" class="form-control"  name="firstname" required>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="lastname">Last Name</label>
                                            <input type="text" id="name" class="form-control" name="lastname" required>
                                        </div>
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label for="password">Password</label>
                                            <input type="password" id="name" class="form-control" name="password" required>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="contact">Contact</label>
                                            <input type="text" id="name" class="form-control" name="contact" required>
                                        </div>
                                       
                                    </div>
                                    <div class="form-row">
                                        <div class="form-group col-md-6">
                                            <label for="loginType">Login type</label>
                                            <select name="type" class="custom-select">
                                                <option value="1">Admin</option>
                                                <option value="2">Driver</option>
                                            </select>
                                        </div>
                                        <div class="form-group col-md-6">
                                            <label for="date">Date</label>
                                            <input type="date" id="name" class="form-control" name="contact" required>
                                        </div>
                                       
                                    </div>
                                    
                                    <div class="form-row">
                                      <div class="form-group col-md-6">
                                            <label for="address">Address </label>
                                            <input type="number" id="name" class="form-control" name="addresss" required>
                                         </div>
                                    
                                        <div class="form-group col-md-6">
                                            <label for="image">Avatar</label>
                                            <input type="file" id="file" class="form-control">
                                        </div>
                                      </div>
                                    <hr class="my-4">
                                  
                                    <div class="form-row">
                                        <div class="form-group col-sm-3">
                                            <button type="submit" class="btn mb-2 btn-outline-primary">Save
                                            </button> &nbsp;
                                            <button type="submit" class="btn mb-2 btn-outline-danger" >Cancel
                                            </button> &nbsp;
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <!-- /. card-body -->
                        </div>
                        <!-- /. card -->
                    </div>
                    <!-- /. col -->
                </div>
                <!-- /. end-section -->
            </div>
            <!-- .col-12 -->
        </div>
        <!-- .row -->
    </div>
    <!-- .container-fluid -->

</main>
<!-- main -->
